<!doctype html>
<html lang="en">

<head>
	<title>Django Payments App</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">New Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'history' %}">Order History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart_view' %}">Order</a>
                </li>
                
            </ul>
            <nav class="my-2 my-md-0 mr-md-3">
                {% if user.is_authenticated %}
                Пользователь:<strong class="p-2 text-gray-dark">{{user.username}}</strong></a>
                <li class="nav-item">
                <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
                </li>
                <li class="nav-item">
                <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
                </li>
                {% else %}
                <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
                <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
                {% endif %}
            </nav>
        </div>
    </nav>
    {% block content %}

	{% endblock content %}

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>