
{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Product Detail</h1>
<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>Product Detail</h2>
        </div>
        <div class="card-body">
            <div class="container row">
                <div class="col-md-10">
                 <h1>Страница подтверждения заказа</h1>
                  <h2>Заказ номер: {{ order.id }}</h2>
                   <p>Price:</p>{{ order.amount }}</p>
                </div>
              </div>
          </div>
      </div>
      <div class="card-footer d-flex">
          <button class="btn btn-success ml-auto" id="buy-button">Confirm order</button>
      </div>
  </div>
</div>
    {% csrf_token %}
  </body>
    <script type='text/javascript'>
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch(href="{{ order.get_absolute_url }}", {
          method: 'GET',
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
    </script>
</html>