<!DOCTYPE html>
<html>
  <head>
    <title>Lets Buy {{ product.owner }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  </head>
  <body>
    <h1>Заказ номер: {{ product.id }}</h1>
    <p>В количесвте единиц:</p>{{ product.count}}</p>
    <p>Price(in cents):</p>{{ product.total }}</p>
    <button id="buy-button">Buy</button>
    {% csrf_token %}
  </body>
    <script type='text/javascript'>
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch(href="{{ product.get_absolute_url }}", {
          method: 'GET',
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
    </script>
</html>